apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: demo-app-networkpolicy
  namespace: dev
spec:
  podSelector:
    matchLabels:
      app: demo-app
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: demo-app
        - namespaceSelector:
            matchLabels:
              name: dev
  egress:
    - to:
        - podSelector:
            matchLabels:
              app: demo-app
        - namespaceSelector:
            matchLabels:
              name: dev
