apiVersion: v1
kind: Secret
metadata:
  name: docker-registry-secret
  namespace: dev
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "https://index.docker.io/v1/": {
          "username": "gitopsitmo",
          "password": "<YOUR_DOCKER_HUB_PAT>",
          "email": "<YOUR_EMAIL>"
        }
      }
    }
