imageVersion: 0.1.0
replicaCount: 3
image: gitopsitmo/gitops-app
app: demo-app

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"

ports:
  port: 8080
  nodePort: 30080
