name: YAML Lint

on:
  pull_request:
    branches:
      - main
      - master
      - develop

jobs:
  yamllint:
    name: Check YAML formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install yamllint
        run: pip install yamllint

      - name: Run yamllint
        run: yamllint ./manifests/k8s
